body {
  direction: rtl;
}

button {
  margin-right: 49%;
  color: #ffffff;
  background-color: #000000;
  width: 100px;
  height: 50px;
}

.table,
th,
td {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #000000;
  margin: auto;
}
.table {
  margin-bottom: 30px;
}
th,
td {
  padding-left: 5px;
  padding-right: 5px;
}

caption {
  color: #333333;
  font-size: 25px;
  margin-bottom: 8px;
  border: 1px solid #000000;
}
th {
  color: #333333;
  font-size: 18px;
  border: 1px #000000 solid;
  padding-top: 5px;
  padding-bottom: 5px;
}
td {
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
